@model List<Room>
@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center">DoctorToothie</h1>
<h2 class="text-center">Zarezerwuj u nas wizytę!</h2>

<p>
    Mamy dynamiczny system rezerwacji przez stronę w której, rezerwować wizytę w 
    różnych naszych lokalizacjach, preferowany pokój, doktor i dzień.
    Oraz przewidywany koszt operacji, który możę się okazać inny we względu na czynniki w pracy.
</p>